<h1 class="center margin">Shorten the link</h1>
<div class="row center margin">
  <div class="col-md-10 offset-md-1">
    <%= form_for(@url, url:'') do |f| %>
      <%= f.text_field :long, class:'form-control center',
                placeholder:"Yooooooouuuuuuuuur URL" %>
      <%= f.submit "Shorten", class: "btn btn-success wide" %>
    <% end %>
  </div>
</div>
<div class= "row outer">
  <div class = "dog col-md-12"></div>
</div>
